

.carousel-container {
  width: 100%;
  height: calc(70vh);
  position: relative;
  overflow: hidden;
}

// .carousel-slide {
//   display: none;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
// }

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.carousel-caption h1 {
  backdrop-filter: blur(2px) saturate(165%);
  -webkit-backdrop-filter: blur(2px) saturate(165%);
  background-color: rgba(64, 64, 64, 0.41);
  border-radius: 12px;
  border: 1px solid rgba(146, 229, 248, 0.3);
  width: 450px;
  padding: 8px;
  overflow: hidden;
  font-size: 3em;
  font-family: 'Montserrat';
  font-weight: 300;
}

.presentation-container {
  height: calc(100vh - 100px);
  padding-top: 28px;
}

.first-pitch {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  backdrop-filter: blur(2px) saturate(165%);
  -webkit-backdrop-filter: blur(2px) saturate(165%);
  background-color: rgba(64, 64, 64, 0.41);
  border-radius: 12px;
  border: 1px solid rgba(146, 229, 248, 0.3);
  padding: 8px;
  overflow: hidden;

  font-size: 3em;
  font-family: 'Montserrat';
  font-weight: 300;
  color: rgb(18, 18, 18);
}


.presentation-container {
  background-color: #F1F1F1;
  border-radius: 10px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: relative;
  top: -100px; left: 80px;
  width: 40%;
  height: 280px;
  border-radius: 5px;
  padding: 12px;

  h2 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    margin-top: 15px;
  }

  p {
    margin-top: 20px;
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: justify;
    font-size: 20px;
  }

}

.mesure {
  color:#06BEFC;
  font-family: 'Montserrat';
  font-weight: 300;


}
