.english-presentation {
  margin-top: 2rem;
}

.container_classes{
  display: flex;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  justify-content: center;
  margin-top: 2rem;
}
/*Adding background image to each section*/
.one{
  background: url("un.png");
  border-radius: 10px;
}
.two{
  background: url("deux.png");
  border-radius: 10px;
}
.three{
  background: url("trois.png");
  border-radius: 10px;
}
.four{
  background: url("quatre.png");
  border-radius: 10px;
}
/* Background properties and transition effect to section  */
.section{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  cursor: pointer;
  flex: 0.2;
  margin:8px;
  position: relative;
  transition: all 0.7s ease-out;
}

/* section with active class will grow flex to 3 times  */
.section.active{
  flex: 3;
}
