footer {
  position:-webkit-sticky;
  position: sticky;
  bottom: 0;
  font-size: 12px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f1f1f1;
  color: #000000;
  text-align: center;
  

  a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;

    &:hover {
      border-bottom: 1px transparent;
    }
  }
}
