.landing-div {
  height: calc(100vh - 100px);
  width: auto;
  background-image: url('pinetrees.jpg');
  background-size: cover;
}

@media (max-width: 500px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .landing-div {
    height: calc(100vh - 50px);
  }
}

.container-landing {
  display:flex;
  flex-direction: column;
  height: auto;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  justify-content: center;
}

@media (max-width: 800px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container-landing {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (max-width: 500px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container-landing {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  margin-top: 3rem;
  color: rgb(255, 255, 255);

  p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    text-shadow: 0px 0px 0px rgb(180, 241, 244);
    text-shadow: 1px 1px 1px rgb(52, 52, 52);
  }

  h1 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 58px;
    text-shadow: 0px 0px 0px rgb(180, 241, 244);
    text-shadow: 1px 1px 1px rgb(52, 52, 52);

  }

  h4 {
    font-family: 'Montserrat';
    font-weight: 300;
    text-shadow: 0px 0px 0px rgb(180, 241, 244);
    text-shadow: 1px 1px 1px rgb(52, 52, 52);
  }
}

@media (max-width: 800px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .welcome  {
    margin-top: 3rem;
  }

  .welcome h1 {
    font-size: 38px;
  }

  .welcome h4 {
    font-size: 28px;
  }

  .welcome p {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .welcome  {
    margin-top: 1rem;

  }

  .welcome h1 {
    font-size: 24px;

  }

  .welcome h4 {
    font-size: 14px;
    margin-bottom: 1rem;
  }

  .welcome p {
    font-size: 10px;
    display: none;
  }
}

.welcome h4 {
  margin-bottom: 2rem;
}

@media (max-width: 500px) {
  .welcome h4 {
    margin-bottom: 1rem;
  }
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3rem;
  gap: 18px;
  place-self: center;
}

@media (max-width: 800px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .services-container {
    display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
  gap: 18px;
  place-self: center;
  }
}

@media (max-width: 500px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .services-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;
  gap: 12px;
  place-self: center;
  }
}

.card-services {
  backdrop-filter: blur(2px) saturate(165%);
  -webkit-backdrop-filter: blur(2px) saturate(165%);
  background-color: rgba(218, 248, 255, 0.41);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  width: 230px;
  text-align: center;
  padding: 8px;
  padding-top: 14px;
  overflow: hidden;
}

.card-services h2 {
  font-size: 28px;
  margin: 20px 0px 20px 0;
  font-family: 'Montserrat';
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 0px rgb(180, 241, 244);
  text-shadow: 1px 1px 1px rgb(52, 52, 52);
}



@media (max-width: 800px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .card-services {
    height: 240px;
  }

  .card-services h2 {
    font-size: 28px;
  }

  .card-services .service-description {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .card-services {
    height: 180px;
  }

  .card-services h2 {
    font-size: 20px;
  }

  .card-services .service-description {
    font-size: 12px;
  }
}

.card-link {
  text-decoration: none;
  color: inherit;
}

// .photo-prez {
//   margin-top: 2rem;
//   justify-content: center;
//   align-content: center;
//   height: max-content;
//   margin-bottom: 2rem;
// }

// .photo-home {
//   border-radius: 50%;
//   box-shadow: rgba(55, 207, 241, 0.271) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(8, 56, 104, 0.35) 0px -2px 6px 0px inset;
// }

// .presentation {
//   margin-top: 2rem;
//   margin-bottom: 2rem;
// }

// #introduction {
//   margin-top: 2rem;
// }

// .main-container {
//   min-height: 100vh;
// }

// .about {
//   justify-content: center;
// }

// .card-product {
//   overflow: hidden;
//   height: 200px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   margin-top: 1rem;
//   margin-left: 1rem;
//   margin-right: 1rem;
// }

// .card-product img {
//   height: 80%;
//   width: 160px;
//   object-fit: cover;
//   border-radius: 50%;
// }

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product .card-product-infos {
//   padding: 16px;
// }

// .card-style {
//   backdrop-filter: blur(4px) saturate(169%);
//   -webkit-backdrop-filter: blur(4px) saturate(169%);
//   background-color: rgba(207, 241, 249, 0.221);
//   border-radius: 12px;
//   border: 1px solid rgba(209, 213, 219, 0.3);
// }
