.photo-prez {
  margin-top: 2rem;
  justify-content: center;
  align-content: center;
  height: max-content;

}

.photo-home {
  border-radius: 50%;
}

.presentation {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#introduction {
  margin-top: 2rem;
}

.main-container {
  min-height: 100vh;
}
