.landing-div {
  height: 100vh;
  width: auto;
  background-image: url('pinetrees.jpg');
  background-size: cover;
}

.container-landing {
  display:flex;
  flex-direction: column;
  height: auto;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  margin-top: 3rem;
}

.welcome h4 {
  margin-bottom: 2rem;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3rem;
  gap: 18px;
  place-self: center;
}

@media (max-width: 800px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .services-container {
    display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
  gap: 18px;
  place-self: center;
  }
}

@media (max-width: 500px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .services-container {
    display: grid;
  grid-template-columns: 1fr;
  margin-top: 3rem;
  gap: 26px;
  place-self: center;
  }
}

.card-services {
  backdrop-filter: blur(2px) saturate(165%);
  -webkit-backdrop-filter: blur(2px) saturate(165%);
  background-color: rgba(218, 248, 255, 0.41);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  width: 230px;
  text-align: center;
  padding: 8px;
  overflow: hidden;
}

.card-services h2 {
  font-size: 28px;
}

@media (max-width: 800px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .card-services {
    height: 200px;
  }

  .card-services h2 {
    font-size: 28px;
  }

  .card-services .service-description {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .card-services {
    height: 150px;
  }

  .card-services h2 {
    font-size: 20px;
  }

  .card-services .service-description {
    font-size: 12px;
  }
}

// .photo-prez {
//   margin-top: 2rem;
//   justify-content: center;
//   align-content: center;
//   height: max-content;
//   margin-bottom: 2rem;
// }

// .photo-home {
//   border-radius: 50%;
//   box-shadow: rgba(55, 207, 241, 0.271) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(8, 56, 104, 0.35) 0px -2px 6px 0px inset;
// }

// .presentation {
//   margin-top: 2rem;
//   margin-bottom: 2rem;
// }

// #introduction {
//   margin-top: 2rem;
// }

// .main-container {
//   min-height: 100vh;
// }

// .about {
//   justify-content: center;
// }

// .card-product {
//   overflow: hidden;
//   height: 200px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   margin-top: 1rem;
//   margin-left: 1rem;
//   margin-right: 1rem;
// }

// .card-product img {
//   height: 80%;
//   width: 160px;
//   object-fit: cover;
//   border-radius: 50%;
// }

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product .card-product-infos {
//   padding: 16px;
// }

// .card-style {
//   backdrop-filter: blur(4px) saturate(169%);
//   -webkit-backdrop-filter: blur(4px) saturate(169%);
//   background-color: rgba(207, 241, 249, 0.221);
//   border-radius: 12px;
//   border: 1px solid rgba(209, 213, 219, 0.3);
// }
