

.navbar-flow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 8vh;
  font-family: Hack, monospace;
}

div {
  color: #727272;
  text-align: center;
}


nav {
  margin: 0px;
  background: #f9f9f9;
  padding: 16px;
  .menuItems {
    list-style: none;
    display: flex;

    li {
      margin: 20px;

      a {
        text-decoration: none;
        color: #8f8f8f;
        font-size: 24px;
        font-weight: 400;
        transition: all 0.5s ease-in-out;
        position: relative;
        text-transform: uppercase;

        &:hover {
          transition: 0.5s;
          color: #06befc;
          overflow: hidden;
        }
      }
    }
  }
}
