.background-web {
  background-image: url('universe_voyage.jpg');
  height: calc(100vh - 100px);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: rgb(25, 24, 24);
  color: white;
  padding: 16px;
  border-radius: 25px;
  text-decoration: none;
}

.text {
  font-weight: 200;
  font-size: 36px;
  color: #FAFAFA;
  font-family: 'Montserrat';
 }

.dud {
  color: #06befc;
}

.about-myself {
  background-color: #f1f1f1;
  padding: 5rem 2rem
}

.hello {
  font-weight: 200;
  font-size: 46px;
  color: #323232;
  text-align: center;
  font-family: 'Montserrat';
}

.quick-presentation {
  font-size: 20px;
  color: #323232;
  text-align: justify;
  font-family: 'Montserrat';
  font-weight: 100;
}









/*##### RESUME SECTION #####*/

.resume{

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .content{
    background: rgba(0,0,0,0.3);
    padding: 50px 0;
    text-align: center;

    a{
      color: #fdfdfd;
      text-transform: uppercase;

      .btn-resume{
        display: inline-block;
        font-size: 1.1em;
        padding: 20px;
        margin: 0 15px;
        background: rgba(255,255,255,0.2);
        position:relative;
        border:2px solid #06befc;
        border-radius: 5px;
        overflow: hidden;

        span{
          -webkit-transition: opacity 1.2s;
          -moz-transition: opacity 1.2s;
          transition: opacity 1.2s;
        }

        i{
          color:#fdfdfd;
          position:absolute;
          padding: 20px 0;
          top:-80px;
          width:100%;
          left:0;
          -webkit-transition: top .5s;
          -moz-transition: top .5s;
          transition: top .5s;
        }

        &:hover {
          span{
            opacity: 0;
            -webkit-transition: opacity .4s;
            -moz-transition: opacity .4s;
            transition: opacity .4s;
          }
          i {
            top:0;
          }
        }
      }
    }
  }
}



///////////////////////////PROJECTS////////////////////////////////


.project-container-1 {
  background-color: #c9cbd1;
  padding: 5rem 2rem;
  font-family: 'Montserrat';
  color: #FAFAFA;
}

.carousel-item {
  max-height: 400px;
  width: auto;
  margin: auto;
}


.carousel-item img.img-project {
  max-height: 400px;
  width: auto;
  margin: 0 auto; /* Center horizontally */
  display: block; /* Ensure block-level display for proper alignment */
}

.project-title {
  font-weight: 200;
  font-size: 46px;
  color: #323232;
  text-align: center;
  font-family: 'Montserrat';
  transition: color 0.3s, font-size 0.3s; /* Ajout d'une transition fluide */
}

.project-title:hover {
  color: #06befc; /* Nouvelle couleur au survol */
  font-size: 50px; /* Nouvelle taille de police au survol */
}

.project-container-2 {
  background-color: #F1F1F1;
  padding: 5rem 2rem;
  font-family: 'Montserrat';
  color: #FAFAFA;
}

.project-container-3 {
  background-color: #c9cbd1;
  padding: 5rem 2rem;
  font-family: 'Montserrat';
  color: #FAFAFA;
}
