.web-introduction {
  margin-top: 2rem;
  padding-left: 8%;
  padding-right: 8%;
  border-bottom: solid;
  border-bottom-width: 1px;
  padding-bottom: 1rem;
}

.bradius {
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.stack {
  margin-top: 2rem;
  color: black;
  border-bottom: solid;
  border-bottom-width: 1px;
}

#list {
  list-style-type: none;
}

#link {
  text-decoration: none;
  color: #06befc;

  &:hover {
    color: #010506;
    overflow: hidden;
  }
}
