<footer>
  <div class="footer-copyright text-center">&copy; Developed with ❤️</i> by
    <a href="https://www.adrien-regis.site/" class="white-text" target="_blank">Adrien Régis</a>.
  </div>
</footer>
