
  <nav class="navbar-flow sticky">
    <ul class="menuItems">
      <li><a href='#' data-item='Home'>Home</a></li>
      <li><a href='#' data-item='Projets Web'>Projets Web</a></li>
      <li><a href='#' data-item='English is Facile'>English is Facile</a></li>
      <li><a href='#' data-item='Contact'>Contact</a></li>
    </ul>
  </nav>
