
  <nav class="navbar-flow sticky">
    <ul class="menuItems">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Projets Web", web_path %></li>
      <li><%= link_to "English is Facile", english_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
