<%= render 'navbar' %>
<div class="content">
  <p>jdjfjdkdjfkjfkdjkdjf</p>
   <p>jdjfjdkdjfkjfkdjkdjf</p>
    <p>jdjfjdkdjfkjfkdjkdjf</p>
     <p>jdjfjdkdjfkjfkdjkdjf</p>
      <p>jdjfjdkdjfkjfkdjkdjf</p>
       <p>jdjfjdkdjfkjfkdjkdjf</p>
        <p>jdjfjdkdjfkjfkdjkdjf</p>
         <p>jdjfjdkdjfkjfkdjkdjf</p>
          <p>jdjfjdkdjfkjfkdjkdjf</p>
           <p>jdjfjdkdjfkjfkdjkdjf</p>
            <p>jdjfjdkdjfkjfkdjkdjf</p>
             <p>jdjfjdkdjfkjfkdjkdjf</p>
              <p>jdjfjdkdjfkjfkdjkdjf</p>
               <p>jdjfjdkdjfkjfkdjkdjf</p>
                <p>jdjfjdkdjfkjfkdjkdjf</p>
                 <p>jdjfjdkdjfkjfkdjkdjf</p>
                  <p>jdjfjdkdjfkjfkdjkdjf</p>
                   <p>jdjfjdkdjfkjfkdjkdjf</p>
                    <p>jdjfjdkdjfkjfkdjkdjf</p>
                     <p>jdjfjdkdjfkjfkdjkdjf</p>
                      <p>jdjfjdkdjfkjfkdjkdjf</p>
                       <p>jdjfjdkdjfkjfkdjkdjf</p>

                        <p>jdjfjdkdjfkjfkdjkdjf</p>
                         <p>jdjfjdkdjfkjfkdjkdjf</p>
                          <p>jdjfjdkdjfkjfkdjkdjf</p>
                           <p>jdjfjdkdjfkjfkdjkdjf</p>
                            <p>jdjfjdkdjfkjfkdjkdjf</p>
                             <p>jdjfjdkdjfkjfkdjkdjf</p>
                              <p>jdjfjdkdjfkjfkdjkdjf</p>
                               <p>jdjfjdkdjfkjfkdjkdjf</p>
                                <p>jdjfjdkdjfkjfkdjkdjf</p>
                                 <p>jdjfjdkdjfkjfkdjkdjf</p>
                                  <p>jdjfjdkdjfkjfkdjkdjf</p>
                                   <p>jdjfjdkdjfkjfkdjkdjf</p>
</div>
<div class="d-flex flex-column">
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Thank your for visiting my web page</small>
    </div>
  </footer>
</div>
