<div class="main-container">
  <%= render 'navbar' %>

  <div class="landing-div">
    <div class="container-landing">
      <div class="welcome">
        <p>Welcome</p>
        <h1>AD.ANDFORWARD</h1>
        <h4>Développement Web et Services Linguistiques</h4>
      </div>
      <div class="services">
        <div class="web-development">
          <div class="icon"><i class="fa-solid fa-computer fa-beat fa-lg" style="color: #06befc;"></i></div>
          <div class="service-title"></div>
          <div class="service-description"></div>
        </div>
        <div class="english-classes">
          <div class="icon"><i class="fa-solid fa-book fa-lg" style="color: #06befc;"></i></div>
          <div class="service-title"></div>
          <div class="service-description"></div>
        </div>
        <div class="about-me">
          <div class="icon"><i class="fa-solid fa-info fa-lg" style="color: #06befc;"></i></div>
          <div class="service-title"></div>
          <div class="service-description"></div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'footer' %>
</div>
