<%= render 'navbar' %>
<div class="d-flex flex-column">
  <div id="page-content">

  </div>
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Thank your for visiting my web page</small>
    </div>
  </footer>
</div>
