
<%= render 'navbar' %>
<section class="hero">
  <div class="background-web">
  <%= link_to new_contact_form_path, class: "card-link" do %>
      <div class="header">
        <div class="text"></div>
    </div>
  <% end %>
  </div>

</section>
<section class="resume">
  <div class="content">
    <a href="#" target="_blank">
      <div class="btn-resume">
        <i class="fa fa-download fa-2x" aria-hidden="true"></i>
        <span>Download my resume<span>
      </div>
    </a>
  </div>
</section>

<div class="about-myself">
  <div class="content">
    <div class="hello"></div>
    <div class="quick-presentation mt-3"><span class="mesure">Développeur Web</span> reconverti, je continue de travailler sur mes projets <span class="mesure">personnels</span> et <span class="mesure">professionnels</span> pour faire grandir mon expérience et élargir mes champs de compétences dans le domaine du dev. Je travaille actuellement sur une application web qui vise l'industrie du <span class="mesure">jeu</span> et de <span class="mesure">l'évènementiel</span>, Hide or Find, qui s'inspire d'un projet démarré en équipe lors de ma formation au <span class="mesure">Wagon</span>. Je commence également à faire du <span class="mesure">no / low code</span> en délivrant des produits shopify. Dans l'attente de voir ces projets apparaître, vous verrez ici un <span class="mesure">échantillon</span> des projets que j'ai déjà menés.</div>
  </div>
</div>


<div class="project-container ">
  
</div>
