// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-image: url('background.png');
  background-size: cover;
  min-height: 100vh;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 300;

}
